.square{
	display: inline-block;
}


.colorpatch{
	height: 13vw;
	width: 30vw;
	background-color: #808080;
}

.tinysquare{
	height: 5vw;
	width: 12vw;
	display: inline-block;
}


.result{
	height: 7vw;
	width: 30vw;
	/*margin: 5px;*/
	/*align: center;*/
	text-align: center;
	font-size: 1em;
	/*visibility: collapse;*/
}

.whyalist{
	width:60vw;
	height:22vw;
	display:inline-block;
position: absolute;
}


.navbar,.toolbar{
	background-color: #ba3958 !important;
	color:white !important;
}
.toolbar{
	background-color: #e8ab45 !important;
}
.toolbar a, .navbar a span, a.back.link span{
	color:white !important;
}
.picturesection{
    max-height:66vh;
    max-width:100%;
    /*margin-top:69px;*/
}
