.square{
	margin:auto;
}


.colorpatch{
	height: 13vw;
	width: 30vw;
	display: inline-block;
	position: relative;
	background-color: #808080;
}

.result{
	height: 13vw;
	width: 60vw;
	display: inline-block;
	/*margin: 5px;*/
	/*align: center;*/
	position: relative;
	text-align: center;
	font-size: 1em;
	/*visibility: collapse;*/
}


